# comparei_app/.env

# IP do seu computador (substitua pelo real)
EXPO_PUBLIC_API_URL_BASE=http://34.201.145.194

# Chaves de API (Copie os valores dos .env dos seus microsserviços)
EXPO_PUBLIC_API_KEY_USUARIO=y91EI8J28rwyhWOI0aA8IIPpV7InEJ59RanuPlo1ujOVroTUa9jAE1CjReRPNd8A
EXPO_PUBLIC_API_KEY_PROMER=p9XBx5BI27M8nHIW8UJDN2KiOWNZuzrWvpkEqFsU2zwZ5X3YFtzF4gow7Gl4SKsy
EXPO_PUBLIC_API_KEY_LISTAS=aNhzb2JaZKHYhYps2Hj0EWtQ9LOVBgHJ7K9evyqjOgJGLbMZERY1ydDTEK4iqToL
EXPO_PUBLIC_API_KEY_LOGS=sua_chave_secreta_logs_abc